<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="good.force.teah.makeawish">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ConsentForm" />
        <activity android:name=".ReferralForm" />
        <activity android:name=".UploadAMemory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WishGrantingForm" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="good.force.teah.makeawish.MainActivity" />
        </activity>
        <activity android:name=".Registration" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".homescreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="good.force.teah.makeawish.homescreen" />
        </activity>
        <activity
            android:name=".addReferral"
            android:label="@string/title_activity_add_referral"
            android:parentActivityName=".homescreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="good.force.teah.makeawish.homescreen" />
        </activity>
        <activity android:name=".viewReferral" />
        <activity android:name=".calender"></activity>
    </application>

</manifest>